const secrets = {
  alchemyAPIKey: undefined,
  infuraAPIKey: "9aa3d95b3bc440fa88ea12eaa4456161",
  DEPLOYER_PRIVATEKEY: "0xb",
  ACCOUNT2_PRIVATEKEY: undefined,
  alchemyAPIKeyRinkeby: undefined,
  GOERLI_DEPLOYER_PRIVATEKEY: undefined,
  ETHERSCAN_API_KEY: undefined,
}

module.exports = {
  secrets
}